body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    align:center;
}
form{
    display:block;
    padding-left:40px;
}
input{
    display:table-cell;
}
label{
    display:table-cell;
    padding-right: 30px;
}
p{
    display:table-row;
}
.highlight {
    background-color: yellow;
  }
